<div id="section" class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xs-12">
        <div class="logo">
          <%= image_tag "logo-shadow.png" %>
        </div>
        <div class="typewriter">
        <h1>Perlukan kami?</h1>
      </div>
        <p class="desc">
          Untuk membina website korporat, website e commerce , website persendirian, landing page dan lain-lain? Ya! anda tidak salah! inilah tempat-nya. Kami menawarkan pelbagai jenis website dengan harga yang berbaloi ! 
        </p>
        <p class="tagline">
          #websitejutawanhargarakyatjelata
        </p>
        <p><%= Time.now %></p>
        </div> 
      <div class="col-lg-6  ">
        <%= image_tag "red-iwebmy-women.png" , class: "women hidden-w-m"%>
        <%= image_tag "women.png" , class: "women show-w-m"%>
      </div>
    </div>
    </div>
</div>

