<div id="section" class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xs-12">
        <div class="logo">
          <%= image_tag "logo-shadow.png" %>
        </div>
        <div class="typewriter">
        <h1>Perlukan kami?</h1>
      </div>
        <p class="desc">
          Untuk membina website korporat, website e commerce, website persendirian, landing page dan lain-lain? Ya! anda tidak salah! inilah tempatnya. Kami menawarkan pelbagai jenis servis dengan harga yang berbaloi ! 
        </p>
        <p class="tagline">
          #websitejutawanhargarakyatjelata
        </p>
        <p><%= Time.now %></p>
        </div> 
      <div class="col-lg-6  ">
        <%= image_tag "red-iwebmy-women.png" , class: "women hidden-w-m"%>
        <%= image_tag "women.png" , class: "women show-w-m"%>
      </div>
    </div>
    </div>
<!-- whatsapp-button -->
    <div class="phone-call cbh-phone cbh-green cbh-show  cbh-static" id="clbh_phone_div" style="position: fixed; bottom: 75px; right: -55px; z-index: 80;">
      <a id="WhatsApp-button" href="https://wa.me/60163272176?text=Saya%20Berminat%20Nak%20Buat%20Website" class="phoneJs" title="Whatsapp iWebMy" target="_blank">
        <div class="cbh-ph-circle"></div>
        <div class="cbh-ph-circle-fill"></div><div class="cbh-ph-img-circle1"></div></a></div>

</div>

