<div id="notis-sementara " style="text-align: center">
	<div class="box-wrapper">
		<h1>LUBUK DIGITAL AGENCY</h1>
	<div class="sub-heading">
			TECHNOLOGY CONSULTANT
		</div>
	<hr style="width: 10%">
	<h3>WE'RE RENOVATING!
</h3>

		<div class="notis" style="font-weight: 200;text-transform: capitalize;">
			<p>
				We're doing some virtual landscaping in order to provide you with  an even better experience.</p>

				<!-- <small>kami sedang melakukan pengubahsuaian untuk
memberi Anda pengalaman yang lebih baik.</small> -->
			<p>
		We apologize for the inconvenience and will be back online  to serve you as soon as possible.
				</p>
				<!-- <small>kami memohon maaf di-atas segala kesulitan dan akan kembali on-line untuk melayan anda kembali.</small> -->
			
		</div>

</div>
</div>

<div class="phone-call cbh-phone cbh-green cbh-show  cbh-static" id="clbh_phone_div" style=" z-index: 80;">
        <a id="WhatsApp-button" href="https://wa.me/60163272176?text=Saya%20Berminat%20Nak%20Buat%20Website" class="phoneJs" title="Whatsapp iWebMy" target="_blank">
          <div class="cbh-ph-circle"></div>
          <div class="cbh-ph-circle-fill"></div><div class="cbh-ph-img-circle1"></div></a></div>
      
    </div>
    </div>
